<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      <!--  <p>{{- site.description | escape -}}</p> -->
      </div>

      <div class="footer-col footer-col-2">
        <!-- {%- include social.html -%} -->
        <p>
          <a href="https://opensourcedefinition.org" target="_blank" rel="noopener noreferrer">Definition</a> |
          <a href="https://discuss.opensourcedefinition.org" target="_blank" rel="noopener noreferrer">Discuss</a></p>
      </div>
    </div>

  </div>
  
</footer>
{% include language-switcher.html %}
